@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
}
[data-collapse="true"] {
  width: 2.3rem;
}
.scrollbar-input::-webkit-scrollbar {
  display: none;
}
